/*f0a00b
08292e*/
body h1{
    color: #08292e;
    font-family: Arial, Helvetica, sans-serif;
}
@media screen and (min-width: 415px){
body {
    margin: 0px; 
}
}

header {
    background-color: #09424b;
}
header img {
    position: relative;
    left: 1%;
}
#menuPrincipal ul li{
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    padding: 7px;
    margin-bottom: 5px;
    font-size: 10pt;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.1)
}
/*Barra de pesquia e afins só aparecem para desktop*/
@media screen and (min-width: 1000px){
    #opcoesHeader ul{
     position: relative;
     float: right;
     margin-right: 5px;
     top: -70px;
     right: 20px;
     font-family: arial;
     font-size: 10pt;
    }
}
/*Barra de pesquisa escondida para smartphone*/
@media screen and (max-width: 999px){
    #opcoesHeader ul{
        position: relative;
        top: 0%;
        right: 5%;
        display: none;
    }
}
#opcoesHeader ul li{
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 90%;
    color: white;
}
@media screen and (min-width: 800px){
#noticiaMor {
    background-image: url(images/noticia1.png);
    background-position-y: 35%;
    background-size: 100%;
    background-repeat: no-repeat;
    filter: grayscale(.4);
    height: 300px;
    color: black;
    font-family: arial;
    box-shadow: 3px 3px 10px rgba(1,1,1,0.3);
}
}
@media screen and (max-width: 799px){
    #noticiaMor {
        background-image: url(images/noticia1Alternativa.jpeg);
        background-size: 100%;
        background-repeat: no-repeat;
        filter: grayscale(.45);
        height: 100%;
        width: 100%;
        color: black;
        font-family: arial;
        box-shadow: 3px 3px 10px rgba(1,1,1,0.3);
    }
    }
/*Noticia mor - Desktop*/
@media screen and (min-width: 800px){
    section {
        width: 800px;
        margin: auto;

    }
}
/*Noticia mor - Mobile*/
@media screen and (max-width: 799px){
    section {
        width: 70%;
        margin: auto;
    }
}
#noticiaMor p, h1{
    position: relative;
    top: 60%;
    text-align: justify;
    margin: 5px;
}
/*Segunda noticia*/
#noticia2Importancia {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

#noticia2Importancia img{
    width: 100%;
}
#noticia2Importancia ul{
    position: relative;
    left: -5%;
}    
#noticia2Importancia h1 {
    padding-top: 0px;
    margin-top: 0px;
}
@media screen and (min-width: 800px){
    #noticia2Importancia ul li{
        position: relative;
        display: inline-block;
        width: 30%;
        vertical-align: top;
    }
}    
@media screen and (max-width: 799px){
    #noticia2Importancia ul li{
        position: relative;
        display: inline-block;
        left: -10%;
        width: 110%;
        vertical-align: top;
    }
    #noticia2Importancia h1 {
        font-size: 12pt;
    }
    #noticia2Importancia img {
        display: none;
    }
}
/*Aside laterla direito*/
#lateral h1 {
    font-size: 12pt;
}
#lateral table h1{
    padding-top: 0px;
    font-size: 14pt;
}

@media screen and (min-width: 800px) and (max-width: 1050px){
    #lateral {
        position: absolute;
        float: right;
        width: 25%;
        top: 450px;
        right: 150px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 11pt;
        text-align: justify;
    }
}
@media screen and (min-width: 1051px){
    #lateral {
        position: absolute;
        float: right;
        width: 25%;
        top: 450px;
        right: 230px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 11pt;
        text-align: justify;
    }
}

@media screen and (max-width: 850px){
    #lateral {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 11pt;
        text-align: justify;
    }

}
/*****************************/
#sequenciaNoticias h2{
    color: #08292e
}
@media screen and (min-width: 750px){
#sequenciaNoticias {
    position: relative;
    width: 60%;
}
#sequenciaNoticias table tr,td{
    vertical-align: top;
    text-align: justify;
    padding: 10px;
}
}
/**************/
#rodape {
    position: absolute;
    width: 100%;
    background-color: #08292e;
}
#corpoRodape , #corpo2Rodape{
    width: 33%;
    padding: 20px;
}
#corpoRodape h1, #corpo2Rodape h1, #redesSociais h1{
    color: white;
    font-size: 14pt;
}
#corpoRodape p {
    color: white;
    font-size: 12pt;
}
#corpo2Rodape ul li{
    display: inline-block;
    padding: 5px;
    color: white;

}
#redesSociais{
    position: relative;
    width: 20%;
    top: -380px;
    float: right;
    right: 400px;
    color: white;
}

@media screen and (max-width: 999px){
    #redesSociais {
        display: none;
    }
    
}
@media screen and (min-width: 1000px){
    #redesSociais input {
        width: 100%;
    }
    
}