body {
    max-width: 100%;
    overflow-x: hidden;
    color: rgb(75, 75, 75);
    background-color: rgb(170, 170, 170);
    
}
header {
    text-align: center;
    padding:5px;
    background-color: rgb(66, 66, 66);
    color: white;
}
header h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 18pt;
    padding: 5px 5px 0px 5px; 
}
h2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 12pt;
    padding: 0px 5px 5px 5px;
}
section#QUIZ {
    width: 800px;
    margin: auto;
}
section#QUIZ input.botoes {
    width: 200px;
    height: 200px;
    font-family: 'Courier New', Courier, monospace;
    box-shadow: 3px 3px 10px rgba(1,1,1,0.3);
    margin: 15px;
    font-size: 72pt;
    text-align: center;
    background-color: rgb(236, 236, 236);
    display: inline-block;
    color: rgb(75, 75, 75);
}

div#divInterativa1 {
    position: absolute;
    padding: 0px 5px 0px 5px;
    top: 10px;
    right: 30px;
    width: 300px;
    font-family: 'Courier New', Courier, monospace;   
    text-align: left;
    box-shadow: 3px 3px 7px rgba(1,1,1,0.3);
    background-color: white;
}
div#divInterativa2 {
    position: absolute;
    padding: 0px 5px 0px 5px;
    top: 550px;
    left: 30px;
    width: 700px;
    font-family: 'Courier New', Courier, monospace;   
    text-align: left;
    box-shadow: 3px 3px 7px rgba(1,1,1,0.3);
    background-color: white;
}

div#divInterativa3 {
    position: absolute;
    padding: 0px 5px 0px 5px;
    top: 80px;
    left: 10px;
    width: 250px;
    font-family: 'Courier New', Courier, monospace;   
    text-align: left;
    box-shadow: 3px 3px 7px rgba(1,1,1,0.3);
    background-color: white;
}

div#divInterativa4 {
    position: absolute;
    padding: 0px 5px 0px 5px;
    top: 0px;
    left: 120px;
    width: 900px;
    font-family: 'Courier New', Courier, monospace;   
    text-align: left;
    box-shadow: 3px 3px 7px rgba(1,1,1,0.3);
    background-color: white;
}

div#divInterativa5 {
    position: absolute;
    padding: 0px 5px 0px 5px;
    top: 350px;
    right: 30px;
    width: 300px;
    font-family: 'Courier New', Courier, monospace;   
    text-align: left;
    box-shadow: 3px 3px 7px rgba(1,1,1,0.3);
    background-color: white;
}

div#divInterativa6 {
    position: absolute;
    padding: 0px 5px 0px 5px;
    top: 250px;
    left: 300px;
    width: 600px;
    font-family: 'Courier New', Courier, monospace;   
    text-align: left;
    box-shadow: 3px 3px 7px rgba(1,1,1,0.3);
    background-color: white;
}
div#imgInterativa1 {
    position: absolute;
    top: 200px;
    right: -27px;
}
div#imgInterativa2 {
    position: absolute;
    top: 400px;
    left: -20px;
}
div#imgInterativa3 {
    position: absolute;
    top: -60px;
    left: 800px;
}

div#imgInterativa5 {
    position: absolute;
    top: 500px;
    right: 0px;
}
div#imgInterativa6 {
    position: absolute;
    top: 230px;
    left: 500px;
}