body {
    max-width: 100%;
    overflow-x: hidden;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}
section#corpo {
    padding-top: 10px;
    width: 1100px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}
header div#cabecalho {
    border-bottom: 3px solid rgb(58, 58, 58);
    height: 150px;
}
header div#cabecalho ul#listaRedesSociais li{
    display: inline-block;
}
header div#cabecalho div#lemondeLogo{
    text-align: center;
    position: relative;
    top: -80px;
    margin: auto;
}
header div#cabecalho div#ultimaEdicao{
    text-align: left;
    position: relative;
    margin-top: -200px;
    float: right;
    font-size: 10pt;
}
header div#cabecalho div#ultimaEdicao img{
    position: relative;
    right: 120px;
}
header div#cabecalho div#ultimaEdicao p{
    position: relative;
    right: 0px;
    top: -150px;
}

header div#ultimaEdicao input#botaoComprar {
    position: absolute;
    background-color: white;
    border: 0.5px solid rgb(32, 100, 32);
    padding: 15px 25px 15px 25px;
    color:  rgb(32, 100, 32);
    font-size: 10pt;
}
header div#menuPrincipal ul li#acessarConta {
    text-align: right;
}
header div#menuPrincipal ul{
    padding: 5px 0px 5px 0px;
    border-bottom: 1px solid black;
}

header div#menuPrincipal ul li{
    display: inline-block;
    padding: 6px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
}
header div#menuPrincipal input#botaoASSINE{
    position: absolute;
    background-color: rgb(32, 100, 32);
    padding: 28px 40px 28px 40px;
    border: none;
    color: white;
    font-size: 10pt;
    font-weight: bold;
    top: 187px;
    right: 92px;
}
/*********************************/
div#noticiasBilaterais {
    padding-bottom: 30px;
    border-bottom: 5px solid rgb(58, 58, 58);
}
div#noticiasBilaterais figure{
    position: relative;
    margin-left: -10px;
    padding:10px;
    margin-bottom: -30px;
}    
div#noticiasBilaterais div{
    position: relative;
    width: 500px;
    display: inline-block;
    text-align: left;
}
div#noticiasBilaterais div#noticia2 {
    margin: 0px 0px 0px 60px;
    top: -19px;
}
div#noticiasBilaterais figcaption{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8pt;
    color: rgb(77, 77, 77)
}
div#noticiasBilaterais h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24pt;
    text-align: left;
}
div#noticiasBilaterais h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8pt;
    margin-top: -10px;
    color: rgb(182, 43, 170);
}
div#noticiasBilaterais h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8pt;
    margin-top: 3px;
}
/********************************/
div#noticiasHorizontais {
    border-bottom: 5px solid rgb(58, 58, 58);
}
div#noticiasHorizontais ul {
    padding: 3px;
    height: 150px;
}
div#noticiasHorizontais ul li{
    display:inline-block;
    width: 240px;
    height: 150px;
    padding-right: 30px;
    padding-left: 10px;
    margin-right: 80px;
}
div#noticiasHorizontais h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18pt;
    text-align: left;
    color: rgb(41, 41, 41);
}
div#noticiasHorizontais h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8pt;
    margin-top: -10px;
    color: rgb(182, 43, 170);
}
div#noticiasHorizontais h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8pt;
    margin-top: 3px;
}
div#noticiasHorizontais figcaption{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 7.5pt;
    color: rgb(77, 77, 77);
}
div#noticiasHorizontais img.fotosHorizontais{
    position: relative;
    display: inline-block;
    top: -150px;
    left: 245px;

}
/******************************/
div#introAedicaoDoMes h1{
    font-size: 32pt;
    color: rgb(51, 51, 51);
}
div#introAedicaoDoMes h2{
    font-family: 'Courier New', Courier, monospace;
    color: rgb(58, 58, 58);
    position: relative;
    font-size: 11pt;
    top: -60px;
    left: 330px;
    margin-bottom: -20px;
}
div#edicaoDoMes {
    width: 290px;
    position: relative;
    left: 380px;
    top: -520px;
}
div#edicaoDoMes h3{
    font-size: 14pt;
}
div#edicaoDoMes p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 13.5pt;   
}
/*********************************/
div#tabelaFlutuante h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8pt;
    color: rgb(77, 77, 77);
}
div#tabelaFlutuante h1{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(37, 37, 37);
}
div#tabelaFlutuante h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8pt;
    color: rgb(50, 145, 32);
}
div#tabelaFlutuante h4{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8pt;
    color: black;
}
div#tabelaFlutuante table {
    position: relative;
    top: -950px;
    left: 700px; 
}
div#tabelaFlutuante td {
    width: 200px;
    vertical-align: top;
    border-right: 0.5px solid rgba(1, 1, 1, 0.08);
    border-bottom: 0.5px solid rgba(1, 1, 1, 0.08);
}
div#tabelaFlutuante {
    height: 0px;
}
/**********************************/
footer#rodape {
    background-color: rgb(19, 19, 19);
    padding: 50px;
    color: gray;
    margin: -150px 0px 0px 0px;
}
footer#rodape img {
    margin: 10px 10px 30px 10px;
}
footer#rodape h2 {
    font-size: 8pt;
    font-family: arial;
}
footer#rodape p {
    font-size: 7pt;
    font-family: arial;
}

footer#rodape ul {
    padding-left: 0px;
}
footer#rodape li {
    display: inline-block;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    color: gray;
    padding: 5px;
}
